<header>
    <nav>
        <ul>
            <li><a href="index.html" title={{shared_global.header.nav-home}}><i class="fas fa-address-book"></a></i>
            </li><a href="/#about">{{shared_global.header.nav-about}}</a></li>
            <li><a href="contacts.html">{{shared_global.header.nav-contact}}</a></li>
        </ul>
    </nav>
</header>

{{!-- Potentially update header to a bootstrap header --}}
 {{!-- <nav class="navbar navbar-default navbar-fixed-top">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/" title="{{global.header.nav-home}}"><i class="fas fa-address-book"></i></a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li>
                    <a href="/#about" title="{{global.header.nav-about}}">{{global.header.nav-about}}</a>
                </li>
                <li>
                    <a href="contacts.html" title="{{global.header.nav-contact}}">{{global.header.nav-contact}}</a>
                </li>
            </ul>
        </div>
    </nav>
</header> --}}