<figure class="avatar col-sm-1">
    <img src="{{page_contacts.details.avatar}}" alt="{{page_contacts.details.avatar-desc}}">
</figure>
<div class="name  col-sm-3">
    <h3 class="contact-name">
        <a href="/">{{page_contacts.details.name}}</a>
    </h3>
</div>
<div class="details  col-sm-5">
    <div "">
        <h3 class="contact-phone">
            <a href="tel:{{page_contacts.details.phone}}">{{page_contacts.details.phone}}</h3>
    </div>
    <div>
        <h3 class="contact-email">
            <a href="mailto:{{page_contacts.details.email}}">{{page_contacts.details.email}}</a>
        </h3>
    </div>
</div>
<div class="controls  col-sm-2">
    <div class="control-button edit">
        <i class="fas fa-edit"></i>
    </div>
    <div class="control-button delete">
        <i class="fas fa-trash-alt"></i>
    </div>
</div>