<form class="hidden">
      <ul>
        <li class="contact">
            <div class="container">
                <div class="form-table">
                    <div class="form-row">
                        <div class="form-cell">
                            <div class="contact-avatar">
                                <figure class="avatar">
                                    <img id="thumbnail" src="{{page_contacts.form.profile}}" alt="{{page_contacts.form.profile-desc}}">
                                </figure>
                                <label class="btn btn-default btn-file btn-lg">
                                    <input id="avatar" type="file" accept="image/*" class="form-control input-lg"> {{page_contacts.form.input-browse}}
                                    <input type="hidden" name="avatarSource" class="form-control">
                                </label>
                            </div>
                        </div>
                        <div class="form-cell">
                            <div class="contact-name">
                                <input type="text" name="name" class="form-control input-lg" placeholder="{{page_contacts.form.name-ph}}" required>
                            </div>
                        </div>
                        <div class="form-cell">
                            <div class="contact-email">
                                <div>
                                    <input type="email" name="email" class="form-control input-lg" placeholder="{{page_contacts.form.email-ph}}" required>
                                </div>
                            </div>
                        </div>
                        <div class="form-cell">
                            <div class="contact-phone">
                                <div>
                                    <input type="tel" name="phone" class="form-control input-lg" placeholder="{{page_contacts.form.phone-ph}}" required>
                                </div>
                            </div>
                        </div>
                        <div class="form-cell">
                            <button type="submit" class="btn-light btn-lg">{{page_contacts.form.btn-submit}}</button>
                        </div>    
                    </div>
                </div>
            </div>
        </li>
    </ul>
</form>